<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindYourMovie</title>
    <link rel="stylesheet" href="/static/css/style1.0.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="model-box">
        <div class="model">
            <h1 class="model-title"></h1>
            <img class="model-image" src="" alt="">
            <p class="model-description"></p>
            <a target="_blank" class="link" id="model-link-redirect" href="">More</a>
            <button onclick="close_model(event)" id="close-model">Close</button>
        </div>
    </div>
    <header>
        <h1 class="title">Find Your Movie</h1>
    </header>
    <div class="form-container">
        <form method="get" class="search-bar">
            <input onkeypress="search(event)" type="text" class="search-input" placeholder="Search">
            <button class="search-button">Buscar</button>
        </form>
    </div>
    <p id="error-message"></p>
    <div class="preloader-box">
        <div class="preloader"></div>
    </div>
    <section class="movies-section">
        <div class="movie-container">
        </div>
    </section>
   <footer>Good movies. Good information</footer>
</body>
<script src="/static/js/index1.0.js"></script>
</html>