<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="/static/css/movie_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="preloader-box">
        <div class="preloader"></div>
    </div>
    <header></header>
    <section class="content" style="display: none;">
        <div class="box1">
            <img src="" alt="">
        </div>
        <div class="box2">
            <div class="description">
                <h2>Description</h2>
                <p></p>
            </div>
            <div class="cards">
                <div class="info-box1">
                    <h3>Actors</h3>
                    <ul class="actors-list">
                    </ul>
                    <h3>Director</h3>
                    <ul class="director-list">
                    </ul>
                    <h3>Writer</h3>
                    <ul class="writer-list">
                    </ul>
                </div>
                <div class="info-box2">
                    <h3>Production</h3>
                    <ul class="production-list">
                    </ul>
                    <h3>Box Office</h3>
                    <p class="box-office"></p>
                    <h3>Ratings</h3>
                    <ul class="ratings-list">
                        <li>Internet Movie database - 8.7/10 </li>
                    </ul>
                </div>
                <div class="info-box3">
                    <h3>Released</h3>
                    <p class="released"></p>
                    <h3>DVD Released</h3>
                    <p class="dvd-released"></p>
                    <h3>Genre</h3>
                    <p class="genre"></p>
                </div>
            </div>
        </div>
    </section>
    <footer>Find information about your favorite movie!</footer>
</body>
<script src="/static/js/movie_info.js"></script>
</html>